{% load fakesi %}<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Basic HTML5 template</title>
</head>
<body>
	<h1>This is the body of the template</h1>
	<p>I'm about to do an SSI include! In the root, you are '<b id="user">{{ request.user }}</b>'</p>
	{% ssi "ssi" %}
</body>
</html>